<!-- TODO: What is that ? == les notices, genre "signed successfull, etc..."
  <p id="notice"><%= notice %></p>
-->
<header class="classic-header">
  <h1><a href="/">Epya</a></h1>
  <nav>
    <ul>
      <li>
        <%= form_tag(:controller => 'tags',  :action => 'search')  do %>
          <%= text_field_tag(:searchTag) %>
          <%= submit_tag("Search") %>
        <% end %>
      </li>
      
      

      <li><a href="/projects">Projects</a></li>
      <li><a href="/idea">About</a></li>

      <% if user_signed_in? %>
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" id="headerDropMenu" >
              <%= current_user.name %>
              <span class="caret"></span>
            </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="headerDropMenu">
            <li><%= link_to 'New Project', new_project_path %></li>
            <li><%= link_to(current_user.name, user_path(:id => current_user.id)) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to('Login', user_session_path)  %></li>
      <% end %>
    </ul>
  </nav>
</header>