<%= form_for(@user, html: { method: :put }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h2>Infos</h2>
  <div class="user_field form-group">
    <%= f.text_field :name, :placeholder => @user.name %>
    <span class="edit">edit</span>
    <div class="edit_underline"></div>
  </div>
  
  <div class="user_field form-group">
    <%= f.text_field :email, :placeholder => @user.email %>
    <span class="edit">edit</span>
    <div class="edit_underline"></div>
  </div>
  
  <h2>Avatar</h2>
  <% if @user.avatar.url %>
  <div class="form-group">
	  <img src="<%= @user.avatar.url %>">
	  <p>
	  	<%= link_to 'Supprimer l\'avatar', :action => 'destroy_avatar' %>
	  </p>
  </div>
  <% else %>
  <div class="user_field form-group">
    <%= f.file_field :avatar %>
  </div>
  <% end %>
  
  <div class="actions form-group">
    <%= f.submit({:class => 'btn btn-primary'}) %>
  </div>
  
<% end %>
