<section class="intro">
    <h1>We help projects</h1>
    <p><span class="base-color"><strong>Epya</strong></span> is a student project made by an <a href="/team">awesome team</a>. It helps people with great idea to show their works to a amazing public (aka you). With Epya, you can discover new projects build by people, follow them, and participate.</p>
    <a href="/idea">Check what we do <span class="glyphicon glyphicon-hand-right"></span></a>
</section>

</div>
<section class="project-list col-md-10 col-md-offset-1 col-xs-12">
        <h1>Popular</h1> 
    <% @best_projects.each do |best_project| %>
      <article class="col-md-4 item" style="background-image: url(/uploads/images/projects/<%= best_project.photo %>);">
            <div class="color-overlay"></div>
            <%= link_to best_project do %>
                <div class="link-div"></div>
            <% end %>
        <div class="text-holder">
            <h1><%= best_project.name%></h1>
            <div class="project-description">
                <%= raw(best_project.description[0,100]) %>&nbsp;[...]
            </div>
            <span class="glyphicon glyphicon-hand-right"></span>
            <ul class="tags-list">
            <% best_project.tags.each do |tag| %>
                <li><%= tag.name %></li>
            <% end %>
            </ul>   
        </div>
    </article>
    <% end %>
        <a href="/projects">Discover all projects</a>
</section>
<section class="score col-md-10 col-md-offset-1 col-xs-12">
    <h1>What we achieved</h1>
    <div class="col-md-6 achievement">
        <span class="number"><%= @project_number %></span> projects
    </div>
    <div class="col-md-6 achievement">
        <span class="number"><%= @user_number %></span> members
    </div>
    <div class="col-md-6 achievement">
        <span class="number"><%= @collaborator_number %></span> collaborators
    </div>
    <div class="col-md-6 achievement">
        <span class="number"><%= @follower_number %></span> followers
    </div>
</section>
