<section class="intro">
    <h1>We help projects</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum repellendus, ipsa, tempora praesentium corporis qui ex animi fuga possimus tempore quidem? Ratione eveniet, quaerat, animi adipisci tenetur officiis suscipit maiores!</p>
    <a href="#">Check what we do <span class="glyphicon glyphicon-hand-right"></span></a>
</section>

<section class="projects-list">
    <h1>Popular</h1>

    <div class="row">
    <% @best_projects.each do |best_project| %>
      <article class="col-md-4 item" style="background-image: url(<%= best_project.photo %>);">
            <div class="color-overlay"></div>
            <%= link_to best_project do %>
                <div class="link-div"></div>
            <% end %>
        <div class="text-holder">
            <h1><%= best_project.name%></h1>
            <div class="project-description">
                <%= raw(best_project.description[0,100]) %>&nbsp;[...]
            </div>
            <span class="glyphicon glyphicon-hand-right"></span>
            <ul class="tags-list">
            <% best_project.tags.each do |tag| %>
                <li><%= tag.name %></li>
            <% end %>
            </ul>   
        </div>
    </article>
    <% end %>
    </div>
    <a href="/projects">Discover all projects</a>
</section>

<section class="tags">
    <h1>Tags</h1>
    <h2>Check whatever you want</h2>
    <ul>
    <% @tags.each do |tag| %>
        <li><%= link_to(tag.name, tag) %></li>
    <% end %>
    </ul>

</section>

<section class="score">
    <h1>What we achieved</h1>
    <div class="col-md-6 achievement">
        <span class="number">1324</span> projects
    </div>
    <div class="col-md-6 achievement">
        <span class="number">13 521</span> members
    </div>
    <div class="col-md-6 achievement">
        <span class="number">714</span> workshops
    </div>
    <div class="col-md-6 achievement">
        <span class="number">985</span> likes. 
    </div>
</section>

