<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :photo %>
    <%= f.text_field :photo, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tags %>
    <%= f.text_field :tags, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :collaborators %>
    <%= f.select(:collaborators, @users.map { |s| [ s.email, s.id ] }, :prompt => "", :class => 'form-control') %>
  </div>
  <div class="actions">
    <%= f.submit 'Valider', :class => 'btn btn-primary' %>
  </div>
<% end %>
