<%= form_for(@project, :multipart => true) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Nom' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  
  <div id="photoAjax">
	  <% if @project.photo.url.nil? || @project.photo.url == "" %>
		  <div class="form-group">
		    <%= f.label :photo, 'Illustration' %>
		    <%= f.file_field :photo, :data => { :max_file_size => 5.megabytes }, :class => 'form-control' %>
		  </div>
	  <% else %>
	  	<img src="<%= @project.photo.url %>" widht='200' height='175'>
	  	<p>
	  		<%= link_to 'supprimer l\'illustration', {:action => 'destroy_photo'} %>
	  	</p>
	  <% end %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description, :rows => '25', :class => 'form-control tinymce' %>
  </div>
  
  <div class="form-group">
    <%= label_tag :tag %>
    <div class="row tags_space" id="ajaxContent">
    <% @project.tags.each do |tag| %>
    	<div class="col-md-3">
    		<%= tag.name %>
    		<p id="removeTag">
				<%= link_to 'supprimer le tag', {:action => 'destroy_tag', :tag => tag, :remote => true} %>
			</p>
    	</div>
    <% end %>
    </div>
  </div>
  
  <p id="addTag">
	<a class="btn btn-default">Ajouter un tag&nbsp;&nbsp;<i class="glyphicon glyphicon-plus"></i></a>
  </p>
  
  <div class="form-group">
    <%= f.label :collaborators, 'Les collaborateurs au projet' %>
    <% @users.each do |user| %>
      <div class="checkbox">
      	<label>
      	<% if @collaborators.include? user.email %>
    		<%= check_box_tag 'collaborators[]', user.id, true %> <%= user.email %>
    	<% else %>
    		<%= check_box_tag 'collaborators[]', user.id %> <%= user.email %>
    	<% end %>
    	</label>
     </div>
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Valider', :class => 'btn btn-primary' %>
  </div>
<% end %>
