</div>
<h1 class="page-header">Listing projects</h1>

<% @projects.each do |project| %>
    <article class="col-md-4 item" style="background-image: url(<%= project.photo %>);">
            <div class="color-overlay"></div>
            <%= link_to project do %>
                <div class="link-div"></div>
            <% end %>
        <div class="text-holder">
            <h1><%= project.name%></h1>
            <div class="project-description">
                <%= raw(project.description[0,100]) %>&nbsp;[...]
            </div>
            <span class="glyphicon glyphicon-hand-right"></span>
            <ul class="tags-list">
            <% project.tags.each do |tag| %>
                <li><%=  tag.name %></li>
            <% end %>
            </ul>   
        </div>
    </article>
<% end %>

<br>
<div class="col-md-10 col-md-offset-1 col-xs-12">
