<h1 class="page-header">Listing projects</h1>

<% @projects.each do |project| %>
    <article class="col-md-4">
        <div class="image">
            <%= link_to raw("<img src='/assets/projects/#{project.photo}'>"), project %>
        </div>
        <%= link_to raw("<h1>#{project.name}</h1>"), project %>
        <p>by <%= project.author %></p>
        <p><%= project.description %></p>
        <%= link_to raw("<span class=\"read-more\">Voir le projet</span>"), project %>
    </article>
<% end %>

<br>
