<h1 class="page-header">Listing projects</h1>

<% @projects.each do |project| %>
    <article class="col-md-4">
        <div class="image">
           <%= link_to project do %>
  				<%= image_tag project.photo %>
			<% end %>
        </div>
        <%= link_to raw("<h1>#{project.name}</h1>"), project %>
        <p>by <%= link_to(project.author, user_path(project.user)) %></p>
        <p><%= project.description[0,200] %>&nbsp;[...]</p>
        <%= link_to raw("<span class=\"read-more\">Voir le projet</span>"), project, :class => 'btn btn-primary' %>
    </article>
<% end %>

<br>
