</div>
<section class="project-list">
    
    <div class="title-list">
        <h1>Projects</h1>
        <hr>
        <p>The best of college creativity</p>
    </div>
    
	<div class="row">
    <% @projects.each do |project| %>
        <article class="col-md-4 item" style="background-image: url(<%= project.photo %>);">
                <div class="color-overlay"></div>
                <%= link_to project do %>
                    <div class="link-div"></div>
                <% end %>
            <div class="text-holder">
                <h1><%= project.name%></h1>
                <div class="project-description">
                    <%= raw(project.description[0,100]) %>&nbsp;[...]
                </div>
                <span class="glyphicon glyphicon-hand-right"></span>
                <ul class="tags-list">
                <% project.tags.each do |tag| %>
                    <li><%=  tag.name %></li>
                <% end %>
                </ul>
            </div>
        </article>
    <% end %>

    </div>
</section>
<div class="col-md-10 col-md-offset-1 col-xs-12">