<h1>Listing projects</h1>

<% @projects.each do |project| %>
    <article class="col-md-4">
        <div class="image">
            <%= link_to raw("<img src='/assets/projects/#{project.photo}'>"), project %>
        </div>
        <%= link_to raw("<h1>#{project.name}</h1>"), project %>
        <p>by <%= project.author %></p>
        <p><%= project.description %></p>
        <%= link_to raw("<span class=\"read-more\">Voir le projet</span>"), project %>
        <% project.tags.each do |tag| %>
            <p><%=  tag.name %></p>
        <% end %>
    </article>
<% end %>
<!-- <table>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td>
          <img src="<%= project.photo %>" width="200" height="135">
        </td>
        <td><% project.tags.each do |tag| %></td>
            <%=  tag.name %>
        <% end %>
        <td><%= project.author %></td>
        <td><%= project.collaborators %></td>
        <td><%= project.followers %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>
