<h1 class="page-header">
  <%= @project.name %>
</h1>

<p>
  <strong>Auteur du projet : </strong>
  <%= link_to(@project.author, user_path(@project.user)) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Photo:</strong>
  <img src="<%= @project.photo %>" widht='200' height='175'>
</p>

<p>
  <strong>Tags:</strong>
  <%= @project.tags %>
</p>

<p>
  <strong>Collaborators:</strong>
  <%= @project.collaborators %>
</p>

<p>
  <strong>Followers:</strong>
  <ul>
  <% @followers.each do |f| %>
  	<li>
  		<%= link_to(f.name, user_path(f)) %>
  	</li>
  <% end %>
  <ul>
</p>

<% if user_signed_in? %>
	
	<% if @followers.include?(current_user) || @project.user == current_user %>
		<!-- Can't follow this project while we already follow this project or we are the project author -->
	<% else %>
		<%= link_to 'S\'abonner', follow_path(@project), :class=>("btn btn-primary") %>
	<% end %>
	<% if @project.user_id == current_user.id %>
  		<%= link_to 'Editer', edit_project_path(@project), :class=>("btn btn-primary") %>
  	<% end %>
  	
<% end %>


