<% if user_signed_in? && @project.user_id == current_user.id %>
	Tu peux l'éditer négro !
<% end %>

<h1 class="page-header">
  <%= @project.name %>
</h1>

<p>
  <strong>Auteur du projet : </strong>
  <%= @project.user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @project.photo %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @project.tags %>
</p>

<p>
  <strong>Collaborators:</strong>
  <%= @project.collaborators %>
</p>

<p>
  <strong>Followers:</strong>
  <%= @project.followers %>
</p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
