<h1 class="page-header">
  <%= @project.name %>
</h1>

<p>
  <strong>Auteur du projet : </strong>
  <%= @project.user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Photo:</strong>
  <img src="<%= @project.photo %>" widht='200' height='175'>
</p>

<p>
  <strong>Tags:</strong>
  <ul>
    <% @project.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Collaborators:</strong>
  <%= @project.collaborators %>
</p>

<p>
  <strong>Followers:</strong>
  <%= @project.followers %>
</p>

<% if user_signed_in? && @project.user_id == current_user.id %>
  <%= link_to 'Edit', edit_project_path(@project), :class=>("btn btn-primary") %>
<% end %>


