<!DOCTYPE html>
<html>
<head>
  <title>Epya</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render partial: "partials/header" %>

	<main class="container-fluid">
	  <div class="row">
	      <div class="col-md-10 col-md-offset-1 col-xs-12" >
	          <%= yield %>
	      </div>  
	  </div>
	</main>
  
  	<%= render partial: "partials/footer" %>

</body>
</html>
